<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Heroes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://getbootstrap.com/docs/3.4/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/index.html">Home</a>&nbsp;&nbsp;</li>
            <li role="presentation" class="active"><a href="#">Level</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Heroes</h3>
      </div>
      <div class="row marketing">
        <div class="col-lg-6">
          <img src="avengers.gif" width="680" height="300" alt="Avengers Silhouette">
        </div>
      </div>
      <div class="row marketing">
            <table class="table table-striped">
             <thead>
              <tr>
                <th>ID</th>
                <th>Heroes Name</th>
                <th>Power Level</th>
                <th>Image</th>
              </tr>
            </thead>
            <tbody>
                {% for hero in heroes %}
                    <tr>
                      <td>{{ hero.id }}</td>
                      <td>{{ hero.name }}</td>
                      <td>{{ hero.level }}</td>
                      <td><img src="{{ hero.image_url }}" width="100" alt="{{ hero.name }}"></td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
      </div>
      <footer class="footer">
        <p>&copy; Heroes Team</p>
      </footer>
    </div>
  </body>
</html>